<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product</key>
	<dict>
		<key>entityid</key>
		<string>id</string>
		<key>category_id</key>
		<string>category_id</string>
		<key>image1</key>
		<string>image1</string>
		<key>image2</key>
		<string>image2</string>
		<key>image_count</key>
		<string>image_count</string>
		<key>createdDate</key>
		<string>createdDate</string>
		<key>is_new</key>
		<string>is_new</string>
		<key>is_offer</key>
		<string>is_offer</string>
		<key>product_code</key>
		<string>product_code</string>
		<key>product_description</key>
		<string>product_description</string>
		<key>product_gujarati_description</key>
		<string>product_gujarati_description</string>
		<key>product_gujarati_name</key>
		<string>product_gujarati_name</string>
		<key>product_name</key>
		<string>product_name</string>
		<key>status</key>
		<string>status</string>
	</dict>
	<key>ShippingMethods</key>
	<dict>
		<key>after_free_shipping_amount</key>
		<string>after_free_shipping_amount</string>
		<key>entityid</key>
		<string>shipping_method_id</string>
		<key>city_name</key>
		<string>city_name</string>
		<key>weight</key>
		<string>weight</string>
		<key>min_amt_for_free_shipping</key>
		<string>min_amt_for_free_shipping</string>
		<key>before_free_shipping_amount</key>
		<string>before_free_shipping_amount</string>
	</dict>
	<key>ProductAttribute</key>
	<dict>
		<key>selling_price</key>
		<string>selling_price</string>
		<key>size</key>
		<string>size</string>
		<key>unit</key>
		<string>unit</string>
		<key>createdDate</key>
		<string>createdDate</string>
		<key>entityid</key>
		<string>id</string>
		<key>mrp</key>
		<string>mrp</string>
		<key>product_id</key>
		<string>product_id</string>
		<key>weight</key>
		<string>weight</string>
	</dict>
	<key>CountryObject</key>
	<dict>
		<key>country_name</key>
		<string>country_name</string>
	</dict>
	<key>State</key>
	<dict>
		<key>state_id</key>
		<string>state_id</string>
		<key>state_name</key>
		<string>state_name</string>
	</dict>
	<key>Store</key>
	<dict>
		<key>email</key>
		<string>email</string>
		<key>status</key>
		<string>status</string>
		<key>createdDate</key>
		<string>createdDate</string>
		<key>entityid</key>
		<string>id</string>
		<key>store_name</key>
		<string>store_name</string>
		<key>state_id</key>
		<string>id</string>
		<key>city_id</key>
		<string>city_id</string>
		<key>city_name</key>
		<string>city_name</string>
		<key>store_address</key>
		<string>store_address</string>
		<key>contact_person</key>
		<string>contact_person</string>
		<key>contact_number</key>
		<string>contact_number</string>
	</dict>
	<key>StateDelivery</key>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>country_id</key>
		<string>country_id</string>
		<key>entityid</key>
		<string>id</string>
		<key>is_default</key>
		<string>is_default</string>
	</dict>
	<key>CityDelivery</key>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>state_id</key>
		<string>state_id</string>
		<key>entityid</key>
		<string>id</string>
		<key>is_default</key>
		<string>is_default</string>
	</dict>
	<key>CountryDelivery</key>
	<dict>
		<key>phonecode</key>
		<string>phonecode</string>
		<key>is_default</key>
		<string>is_default</string>
		<key>name</key>
		<string>name</string>
		<key>sortname</key>
		<string>sortname</string>
		<key>entityid</key>
		<string>id</string>
	</dict>
	<key>Order</key>
	<dict>
		<key>offer_price</key>
		<string>offer_price</string>
		<key>img</key>
		<string>img</string>
		<key>createdDate</key>
		<string>createdDate</string>
		<key>updatedDate</key>
		<string>updatedDate</string>
		<key>productName</key>
		<string>productName</string>
		<key>productGujratiName</key>
		<string>productGujratiName</string>
		<key>size</key>
		<string>size</string>
		<key>unit</key>
		<string>unit</string>
		<key>itemId</key>
		<string>itemId</string>
		<key>product_id</key>
		<string>product_id</string>
		<key>product_attribute_id</key>
		<string>product_attribute_id</string>
		<key>total_price</key>
		<string>total_price</string>
	</dict>
	<key>Categori</key>
	<dict>
		<key>entityid</key>
		<string>id</string>
		<key>category_name</key>
		<string>category_name</string>
		<key>category_gujarati_name</key>
		<string>category_gujarati_name</string>
		<key>parentCategoryId</key>
		<string>parentCategoryId</string>
		<key>image</key>
		<string>image</string>
		<key>is_parent</key>
		<string>is_parent</string>
		<key>image_type</key>
		<string>image_type</string>
		<key>status</key>
		<string>status</string>
		<key>display_order</key>
		<string>display_order</string>
		<key>createdDate</key>
		<string>createdDate</string>
		<key>hasChild</key>
		<string>hasChild</string>
		<key>isNew</key>
		<string>isNew</string>
		<key>count</key>
		<string>count</string>
		<key>parentCatName</key>
		<string>parentCatName</string>
	</dict>
</dict>
</plist>
